/* <uniquifier>: Use a uniquifier for the class name
<weight>: Use a value from 100 to 800 */

/* code for general use and variables */

:root {
  --background: #0a0a0a;
  --surface-dark: #171717;
  --surface-main: #262626;
  --surface-light: #404040;
  --white-on: #ffffff;
  --white-on1: #ffffffd9;
  --white-on2: #ffffff99;
  --black-on: #000000;
  --primary-color: #60a5fa;
  --secondary-color: #e11d48;
  --tertiary-color: #9333ea;
  --success-color: #4ade80;
  --warning-color: #fbbf24;
  --error-color: #f87171;
  --header-one-font-size: 48px;
  --header-two-font-size: 32px;
  --header-three-font-size: 24px;
  --header-four-font-size: 20px;
  --header-five-font-size: 16px;
  --paragraph-font-size: 18px;
}

.font-100 {
  font-weight: 100;
}
.font-200 {
  font-weight: 200;
}
.font-300 {
  font-weight: 300;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}
.font-800 {
  font-weight: 800;
}

* {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-style: normal;
  color: var(--white-on);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.surface-dark {
  background-color: var(--surface-dark);
}

h1 {
  font-size: var(--header-one-font-size);
}
h2 {
  font-size: var(--header-two-font-size);
}
h3 {
  font-size: var(--header-three-font-size);
}
h4 {
  font-size: var(--header-four-font-size);
}
h5 {
  font-size: var(--header-five-font-size);
}
p {
  font-size: var(--paragraph-font-size);
}

@media only screen and (min-width: 720px) {
  /* Header | Top of page */

  .header {
    width: 100%;
    height: 6.76vh;
    background-color: var(--surface-dark);
    color: var(--white-on);
  }

  .header__section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 22px 0px 17px 45px;
  }

  .header__img {
    width: 34px;
    height: 34px;
  }

  .header__text {
  }

  /* main */

  html {
    background-color: var(--surface-main);
  }

  .main {
    display: flex;
  }

  /* First navbar */
  .navbar {
    width: auto;
    height: 100vh;
    top: 0;
    background-color: var(--background);
    position: sticky;
  }

  .navbar__section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: sticky;
    top: 0;
  }

  .navbar__button {
    display: flex;
    gap: 20px;
    padding: 18.5px 60px 18.5px 30px;
    text-decoration: none;
  }

  .navbar__button-selected {
    display: flex;
    flex-direction: column;
  }

  .navbar__button-img--selected {
    color: var(--primary-color);
  }

  .navbar__button-img {
  }

  .navbar__button-text {
  }

  .navbar__aboutme--mobile {
    display: none;
  }

  .navbar__button-selected--desktop {
    display: block;
  }

  /* Second navbar */
  .secondnavbar {
    width: 16.93vw;
    height: 100vh;
    background-color: var(--surface-dark);
  }

  .secondnavbar__section {
    display: flex;
    flex-direction: column;
    padding: 23px 49px 0px 24px;
    position: sticky;
    top: 0;
  }

  .secondnavbar__button {
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .secondnavbar__button-img {
  }

  .secondnavbar__button-text {
  }

  /* main part */

  .main__text {
    background-color: var(--surface-main);
    width: 67vw;
    height: auto;
    color: var(--white-on);
  }

  .main__section {
    padding: 39px 49px 51px 54px;
  }

  .main__title {
  }

  .main__article {
  }

  .main__article-text {
  }

  .main__article-img {
    width: 553px;
    height: 238px;
    padding: 16px 0px 16px 0px;
  }

  .main__article-infobox {
    width: 1100px;
    height: auto;
    padding: 16px 0px 16px 16px;
    line-height: 30px;
    background-color: var(--surface-light);
  }

  .hidden {
    display: none;
  }
}
